*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    margin-left: 50%;
    margin-right: 50%;
}
.floater{
    margin-top: 25%;
    position: absolute;
    bottom: 8px;
    right: 16px;
 }
 .text{
     font-family: 'IBM Plex Serif', serif;
     /* background-color: rgb(0, 0, 0, 0.5); */
     width: 50%;
     margin-top: 18%;
    text-align: center; 
 }
 .button{
    font-family: 'Slabo 27px', serif;
    font-weight: 70%;
     color: white;
     cursor: pointer;

 }
 #menuDisplay{
     overflow-x: hidden;
 }
 .first{
     overflow: hidden;
 }
 .second{
     overflow: hidden;
 }
 .heading{
    font-family: 'IBM Plex Serif', serif;
    align-items: center;
    text-align: center;
    margin: 2%;
    color: yellow;
 }
 button{
    background-color: red;
 }
 .third{
     overflow: hidden;
 }
 i.fa-solid.fa-cart-plus:before{
     content: attr(data-count);
     position: absolute;
     color: white;
     right: 16px;
     font-size: 15px;
     text-align: center;
     top: -12px;
     width: 20px;
     height: 20px;
     background-color: red;
     border-radius: 50%;
     opacity: 0;

 }